.Rproj.user
.Rhistory
.RData
.Ruserdata
# knitr and R markdown default cache directories
/*_cache/
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
#

## temp folder
temp

## Example Data Folder
0.raw.data
1.pre-processed.data














